/* about page */


    
.about-content-area {
    max-width: 480px;
    margin: 0 auto;
.about-site-main {
    max-width: 480px;
    margin: 0 auto;
    .about-entry-title {
        color: white;
        position: absolute;
        top: 40vh;
    }
}
}
