.btn-green-full {
    text-decoration: none;
    color: #fff;
    border: 1px solid #17cf54;
    background: #0ed166;
    padding: 0.65rem 1.2rem;
    color: #fff;
    border-radius: 8px;
    font-size: 0.9rem;
}

.wp-block-button__link {
    background: #0ed166;
    border-radius: 8px;
}