.btn {
  text-decoration: none;
  border: 2px solid $light_green;
  padding: 1rem 3rem;
  border-radius: 4px;
  font-size: 1rem;
  white-space: nowrap;
  display: inline-block;
}

.green-full {
  color: $white;
  background: $light_green;
}

.green-empty {
  color: $light_green;
  background: transparent;
}

.white-empty {
  color: $light_green;
  background: $white;
}
