.single.single-events {
  //Global Elements for Single Events

  letter-spacing: 0.1rem;

  // Landing Section

  .landing-single-event {
    color: $white;
    padding: 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 2.5rem;
      padding-left: 1.2rem;
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 300;
      margin: 0;
      line-height: 3rem;
      padding-left: 1rem;
    }

    i {
      margin-right: 1rem;
    }

    @include desktop {
      flex-direction: column;
      flex-wrap: wrap;
      height: 800px;
      align-items: center;
    }
  }

  .rsvp {
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      color: $white;
    }
    .rsvp-btn {
      padding: 18px 40px;
      letter-spacing: 0.1rem;
      font-weight: 500;
      font-family: $font__hero-image-sub-heading-description;
      font-size: 1.2rem;
      background-color: $light_green;
      border: $light_green;
      box-shadow: 0 4px 4px rgba(14, 11, 11, 0.35);
      border-radius: 5px;
      text-decoration: none;
      margin-top: 2rem;

      @include desktop {
        padding: 18px 50px;
      }

      i {
        margin-left: 10px;
        font-size: 18px;
        margin-right: 1rem;
      }
    }
  }

  // Single Event Content Section
  .single-event-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    max-width: 1366px;
    margin: 0 auto;
    text-align: left;

    .single_event_description {
      text-align: left;
      justify-content: left;
    }

    iframe {
      width: 99%;
      box-shadow: 0 0 10px rgba(14, 11, 11, 0.35);
      border-radius: 5px;
      height: 450px;
    }

    .rsvp {
      .rsvp-btn {
        margin-top: 0;
        margin-bottom: 4.5rem;
      }
    }

    @include desktop {
      width: 50%;
      padding: 2rem;
      background-color: #faf7f2;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(14, 11, 11, 0.35);
      margin-top: 5rem;
      iframe {
        height: 550px;
        width: 100%;
      }
    }
  }

  // Other Events Section

  .upcoming-events-content {
    justify-content: center;
    .upcoming-events-title {
      padding: 1rem 0rem;

      @include desktop {
        padding: 1rem 6.3rem;

        h3 {
          margin-top: 0;
        }
      }
    }
  }

  .upcoming-events {
    display: flex;

    @include desktop {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      -moz-box-orient: vertical;
      flex-wrap: wrap;
      width: 1200px;
    }

    .upcoming-events-title {
      width: 100%;
      margin-left: 0;
    }

    .event-wallpaper {
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      height: 350px;
      background-size: 664px 1022px;
      border-radius: 5px;
      margin-bottom: 1.5rem;
      width: 350px;
      color: $white;

      @include desktop {
        width: 300px;
        flex-wrap: nowrap;
      }

      .upcoming-date {
        background-color: $lighter_green;
        border: $light_green;
        box-shadow: 0 4px 4px rgba(12, 11, 11, 0.1);
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 255px;
        padding: 1rem 1.4rem;

        @include desktop {
          right: 270px;
        }

        @media only screen and (width: 375px) {
          right: 238px;
        }

        .bold-date {
          font-weight: 600;
          font-family: $font__button;
          font-size: 1.5rem;
          margin: 0;
          padding: 0;
          text-align: center;
        }

        .upper-month {
          text-transform: uppercase;
          font-family: $font__body;
          font-weight: 300;
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
    }

    .event-description-1 {
      font-family: $font__heading3;
      text-align: flex-start;
      margin-left: 1.5rem;
      align-content: center;
      margin-bottom: 3.5rem;
      font-size: 1.5rem;

      @include desktop {
        margin-bottom: 1.75rem;
      }
    }

    .event-description {
      font-family: $font__heading3;
      text-align: flex-start;
      margin-left: 1.5rem;
      align-content: center;
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }

    .learn-btn-events {
      padding: 12px 45px;
      letter-spacing: 0.1rem;
      font-weight: 500;
      font-family: $font__hero-image-sub-heading-description;
      font-size: 1.1rem;
      border: $light_green;
      align-self: flex-start;
      text-decoration: none;
      color: $white;
      margin-bottom: 1rem;
      margin-left: 0;
      padding-left: 1.5rem;
      i {
        margin-left: 10px;
        font-size: 18px;
      }
    }
  }

  @media only screen and (width: 375px) {
    .events-loop {
      width: 300px;
    }
  }

  .upcoming-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include desktop {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
