.site-footer {
  padding: 2rem 0 0.5rem 0;
  font-weight: 200;
  letter-spacing: 0.05rem;
  text-align: center;
  color: $grey;
  line-height: 0.5rem;
  
  p{
    font-size: 1rem;
  }

  i{
    font-size: 1.8rem;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  span {
    padding-left: 1.5rem;
  }

  .footer-contact {
    @include desktop {
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
      order: 2;
    }
  }

  .footer-copyright {
    @include desktop {
      display: flex;
      order: 1;
      justify-content: flex-start;
      flex-basis: 50%;
    }
    p:first-child {
      /* padding-right: 1rem; */
    }
  }
}
