/* Front page */

.our-purpose {
  margin-top: 1.5rem;

  @include desktop {
    margin-top: 3rem;
  }
}

.our-purpose,
.what-we-do {
  padding: 2rem 0;

  @include desktop {
    line-height: 1.6;
  }

  .purpose-title,
  .what-we-do-title {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 1rem;

    @include desktop {
      font-size: 2.5rem;
    }
  }

  .what-we-do-title {
    margin-top: 0;

    @include desktop {
      text-align: center;
    }
  }

  .purpose-description,
  .what-we-do-description {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 300;

    @include desktop {
      line-height: 2;
      font-size: 1.2rem;
    }
  }

  .what-we-do-image {
    display: none;
    border-radius: 4px;

    @include desktop {
      display: block;
    }
  }
}

.what-we-do {
  @include desktop {
    margin: 3rem auto 10rem auto;
  }
  .overlapping-content {
    @include desktop {
      display: flex;
      flex-direction: row;
      width: 80%;
      position: relative;
    }

    .overlapping-text {
      @include desktop {
        background: $light_green;
        padding: 2rem;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
        border-radius: 4px;
        transform: translateX(65px) translateY(65px);
        z-index: 1;

        p {
          margin: 0;
        }
      }
    }

    .overlapping-image {
      @include desktop {
        flex-basis: 50%;
        z-index: -2;
      }
    }
  }

  .btn {
    @include desktop {
      color: $light_green;
      margin-top: 1.5rem;
      background: #fff;
    }
  }
}

.wavy-testimonial {
  color: #fff;
  padding: 2rem 0;
  line-height: 1.5;
  font-weight: 300;

  @include desktop {
    margin: 6rem auto;
    padding: 6rem 0;
    text-align: center;
    align-items: flex-start;
  }

  .wavy-testimonial-description,
  .wavy-testimonial-author,
  .what-we-do-member,
  .wavy-testimonial-event {
    width: 80%;

    @include desktop {
      width: 50%;
      margin-left: 6rem;
    }
  }

  .wavy-testimonial-description {
    font-size: 1.6rem;
  }

  .wavy-testimonial-author {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }

  .wavy-testimonial-event {
    font-size: 1.3rem;
  }
}

.contribute {
  padding: 2rem 0;
  text-align: left;
  line-height: 1.6;
  font-size: 1.1rem;

  @include desktop {
    margin: 4rem auto;
    line-height: 1.6;
  }

  .contribute-title {
    width: 100%;
    margin: 2rem 0 1rem 0;
    font-size: 2.3rem;

    @include desktop {
      margin-bottom: 2rem;
      font-size: 2.8rem;
    }
  }
}

.contribute-types {
  margin: 2rem 0 0 0;
  padding: 0;
  list-style-type: none;

  @include desktop {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 3rem;
  }

  li {
    padding: 1rem 0;

    @include desktop {
      padding: 0;
    }

    .contribute-logo {
      height: 70px;
    }

    h3 {
      font-size: 1.6rem;
      margin: 0;
    }

    p {
      margin-top: 0.3rem;
    }

    a {
      margin-top: 1rem;
    }
  }
}

.butt-count {
  padding: 0 0 2rem 0;
  text-align: center;

  .butt-count-content {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      margin: 2rem 0;
    }
  }

  .butt-count-left {
    @include desktop {
      border-right: 3px solid $light_green;
      border-right-width: 60%;
      padding-right: 2.3rem;
    }
  }

  .butt-count-title {
    font-size: 1.9rem;
    padding: 0.5rem 0;

    @include desktop {
      font-size: 2.8rem;
    }
  }

  .butt-count-text,
  .waste-count-text {
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1.6rem;
    text-transform: uppercase;

    @include desktop {
      font-size: 1.75rem;
      letter-spacing: 0.7rem;
      margin-bottom: 0;
    }
  }

  .butt-count-number,
  .waste-count-number {
    font-size: 2.6rem;
    margin-bottom: 0;
    font-weight: 800;

    @include desktop {
      font-size: 3.5rem;
      margin-top: 0;
    }
  }
}

.instagram-feed {
  .instagram-feed-title {
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;

    @include desktop {
      margin-bottom: 0;
      font-size: 2.8rem;
    }
  }

  .sbi_load_btn {
    background: $light_green !important;
  }
}
