/* Learn page */

.page-id-16{

    a{
        text-decoration: none;
        color: $white;
    }

    .wavy-quiz{
        width: 100vh;
    }

    p{
        line-height: 1.75rem;
        letter-spacing: 0.1rem;
    }

    .landing{
        background-position-y: 0rem;
        background-position-x: -42rem;
        @include desktop {
            background-position-x: 0;
          }
          .learn-btn{
            padding: 15px 50px;
            letter-spacing: 0.1rem;
            font-weight: 500;
            font-size: 1.2rem;
            background-color: $light_green;
            border: $light_green;
            box-shadow: 0 4px 4px rgba(182, 182, 182, 0.75);
            border-radius: 5px;
            i{
                margin-left: 10px;
                font-size: 18px; 
             }
        }
    }

    .landing-wave {
            margin-top: 12rem;
            
    }

    .landing-title{
        font-size: 3rem;
        font-weight: 300;
    }

    .landing-question{
        margin-top: 10rem;
    }
    .how-to-help{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        @include desktop {
          margin-top: 3rem;
        }
	.how-to-help-title{
        padding: 1rem;
        width: 100%;
        
        @include desktop {
            
            margin-bottom: 1rem;
          }
    }
    .how-to-help-description{
        padding: 1rem;
    }
}

//Help Spread Section

.help-spread{
    margin: 2rem 2rem;
}

.help-spread-title{
    margin: 1rem 1rem;
    margin-left: 2rem;
    
}

.help-template-download{
    width: 300px;
    text-align: center;
    margin-left: 2rem;
}

// Template Download Section

.template-download{
    height: 100%;
    color: $white;

    .wallpaper {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 70vh;
        background-size: 664px 1022px; 
        border-radius: 5px;
        margin: 1.5rem;
    }

    .download-btn{
        font-size: 1rem;
        background-color: $light_green;
        border: $light_green;
        box-shadow: 0 4px 4px rgba(12, 11, 11, 0.1);
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 1rem 1.3rem;
        i{
            font-size: 35px; 
         }
    }

    .learn-btn{
        padding: 12px 30px;
        letter-spacing: 0.1rem;
        font-weight: 300;
        font-size: 0.9rem;
        background-color: $light_green;
        border: $light_green;
        box-shadow: 0 4px 4px rgba(12, 11, 11, 0.45);
        border-radius: 5px;
        margin-bottom: 5rem;
        align-self: center;
        i{
            margin-left: 10px;
            font-size: 12px; 
         }
    }

    h2{
        font-family: $font__hero-image-sub-heading-description;
        letter-spacing: 0;
    }

    p{
        font-family: $font__hero-image-heading;
        padding-left: 5rem;
        padding-right: 5rem;
        letter-spacing: 0.2; 
    }
}
.template-download-question{

}

.template-download-description{
   
}


// Buttons

.wavy-quiz {
    height: 450px;
    width: 100%;
    color: $white;

    h3{
        
        width: 300px;
    }

    a{
        text-decoration: none;
    }
    .learn-btn{
        padding: 12px 30px;
        letter-spacing: 0.1rem;
        font-weight: 300;
        font-size: 0.9rem;
        background-color: $light_green;
        border: $light_green;
        box-shadow: 0 4px 4px rgba(14, 11, 11, 0.35);
        border-radius: 5px;
        i{
            margin-left: 10px;
            font-size: 12px; 
         }
}
}
}