/* Learn page */

.page-id-16{

    .landing-question{
        
    }
    .how-to-help{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        @include desktop {
          margin-top: 3rem;
        }
	.how-to-help-title{
        font-family: 'MADEEvolveSans-Bold',Arial, Helvetica, sans-serif;
        font-size: 2rem;
        width: 100%;
        
        @include desktop {
            font-size: 2.5rem;
            margin-bottom: 1rem;
          }
    }
    .how-to-help-description{
        font-family: 'MADEEvolveSans-Bold',Arial, Helvetica, sans-serif;
    }
}
    }