.page-id-727,
.page-id-731 {
  background-size: cover !important;

  .membership {
    margin-top: 3rem;

    h1 {
      margin: 6rem 0 1rem 0;
      font-size: 2.55rem;
      font-weight: 200;
    }

    .gf_step.gf_step_next.gf_step_pending {
      opacity: 1;

      .gf_step_number {
        margin: 0 0 0 2.3rem !important;
      }
    }
  }
}
