/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */
.skip-link {
  display: none;
}

.site-header {
  display: flex;
  background: transparent;
  width: 100%;
  color: #fff;

  a {
    text-decoration: none;
    color: #fff;
  }
}
/* Menus */
.main-navigation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .navbar-hamburger {
    color: #000;
  }

  @include desktop {
    justify-content: space-evenly;
  }

  .site-branding {
    flex-basis: 30%;
    padding-left: 1.7rem;

    @include desktop {
      order: 1;
    }

    h1 {
      margin: 0;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;

    @include desktop {
      order: 2;
    }
  }

  .navbar-btn {
    margin: 0 1rem;
    @include desktop {
      order: 3;
    }
  }

  .nav-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;

    @include desktop {
      display: flex;
    }

    li {
      @include desktop {
        padding-right: 1rem;
      }
    }
  }

  .menu-menu-1-container {
    @include desktop {
      order: 2;
    }
  }
}

.main-navigation.container {
  flex-direction: row;
}
/* Small menu. */

.menu-toggle {
  border: none;
  background: transparent;

  @include desktop {
    display: none;
  }
}

.main-navigation.toggled .nav-menu {
  background: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40vh;
  z-index: -1;

  li {
    padding-top: 1.8rem;
    font-size: 1.1rem;
    padding-left: 1.7rem;

    &:first-child {
      margin-top: 3rem;
    }
  }

  a {
    color: #000;
  }
}

.get-involved-link {
  padding: 0.5rem 1.5rem;
}
