/* posts page */



.mobile-blog-entry-content {
    margin: 0 auto;
    max-width: 80%;
    
    .overlapping-content-mobile {
        position: relative;
        background-color: yellow;
         .right-image {
            position: relative;
            left: 60px;
            bottom: 20px;
        }
    img  {
        max-width: 80%;
        border-radius: 10px;
       }
}
}

.desktop-background-container {
    width: 100%;   
 
.desktop-blog-entry-content-wrapper {

margin:  0 auto;
background-color: blue;
max-width: 55%; 
padding: 2rem;

.overlapping-content-desktop {
    position: relative;
    background-color: yellow;
     .right-image {
        position: relative;
        left: 170px;
        bottom: 60px;
    }
    img {
        width: 67%;
        border-radius: 10px; 
    }
}
.desktop-related-posts-wrapper{
    display: flex;
    img {
        width: 30%;
        border-radius: 10px; 
    }
 }


} 
}





