

.page-template-page-all-projects{
    background-repeat: repeat;
}
.projects-title{
    text-align: left;
    margin-top: 20px;
    padding-bottom: 15px;
}
.proejcts-descripton{
    line-height: 2;
    margin-bottom: 20px;
}

.partner-description{
    padding-top: 30px;
    line-height: 1.7;
}

.partners-container{
    display: inline;
 @include desktop{
     display: flex;
     .partner-container{
         margin-right: 20px;
     }
 }
    justify-content: space-between;
}

.project-partner-title{
    padding-top: 40px;
    text-align: left;
}
.partner-website{
    text-decoration: none;
}

.slide-container{
    text-align: center;
    margin-bottom: 30px;
}

.tabs {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}

.active {
  border-bottom: 2px solid #000;
}







.single-projects-container{
    padding: 30vh;
    background-size: cover !important;
    margin-bottom: 2rem;
}
