.projects-title{
    text-align: center;
}



.partners-container{
    display: flex;
    justify-content: space-between;
}

.project-partner-title{
    text-align: center;
}



.tab-one-container{
     
}