.projects-container-single-one {
  border-radius: 15px;
  height: 25vh;
  width: 400px;
  margin: 2rem;
}

.related-posts {
  margin: 3rem auto 1rem auto;
  max-width: 800px;
}

.paragraph-single-projects {
  margin: 2rem auto;
  line-height: 1.8;
  @include desktop {
    max-width: 800px;
  }
}

.container-info-single {
  padding: 1rem 2rem;
}
