



.projects-container-single-one{
    border-radius: 15px;
    height: 25vh;
    width: 40vh;
    margin: 30px;
    padding: 10px 20px;
    
}


.paragraph-single-projects{

        max-width: 300px;
        margin: 0 auto;
        line-height: 1.8;
        @include desktop{
            max-width: 800px;
        }

}

.container-info-single{

padding-top: 20px;
}