// Structure
$tablet: 402px;
$desktop: 768px;

// Colors

$light_green: #39A8AB;
$blue: #00849F;
$brown: #EFC579;
$grey: #565E5C;
$white: #F8F6F0;

// Typography

$font__hero-image-heading: 'MADEEvolveSans-Bold', sans-serif;
$font__hero-image-sub-heading-question: 'MADEEvolveSans-Light', sans-serif;
$font__hero-image-sub-heading-description: 'MADEEvolveSans-Medium', sans-serif;
$font__heading1: 'MADEEvolveSans-Bold', sans-serif;
$font__heading2: 'MADEEvolveSans-Bold', sans-serif;
$font__heading3: 'MADEEvolveSans-Bold', sans-serif;
$font__heading4: 'MADEEvolveSans-Bold', sans-serif;
$font__body: 'MADEEvolveSans', sans-serif;
$font__button: 'MADEEvolveSans-Medium', sans-serif;
$font__caption-heading: 'MADEEvolveSans-Bold', sans-serif;
$font__caption-body-text: 'MADEEvolveSans', sans-serif;